<%-include('./partials/header')%>
<%-include('./partials/navbar')%>

     <div class="alert alert-danger" role="alert" style="margin-top: 7rem;">
        <%= err %>
     </div>

 <%-include('./partials/footer')%>